<div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12" style="padding: 70px; max-height: 700px; text-align: center; margin-top: 10%; padding-right: 10%; margin-right:20px;">


                <p style="color: #191919; font-size: 32px;"><b>Find top talent, battle tested by the world's best startups</b></p>

                <div class="btn btn-primary my_btn" style="background-color: #476987; text-align: center; font-size: 18px; margin-bottom: 25px; border: none;">
                        <a href="/companies" style="color:white; text-decoration: none; padding-left: 30px; padding-right: 30px; padding-top: 15px;">Browse Talent</a>
                    </div>
                
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6" style="">
                <img src="https://i.imgur.com/k03XxZ0.png" id="image" style=" margin-top: 20%; width:600px;">
            </div>

        </div>

</div>

<div style="color: black; text-align: center; margin-top: 100px; padding-bottom: 100px; background-color: white;">

            <hr>

            <p id="join_the_movement" style="font-size: 32px;"><b>About</b></p>

            <hr>
            <br>

            <p id="storytale" style="width:80%; margin:auto; font-family: 'Over the Rainbow'; font-size: 24px; font-weight: ;"><span style="background-color: ">Not all startups are unicorns with massive hiring budgets and countless applicants. That's why we should help each other out. Companies like <a target="_blank" style="color:#D85537;" href="https://www.buffer.com">Buffer</a>, <a target="_blank" style="color:#D85537;" href="https://www.basecamp.com">Basecamp</a> and <a target="_blank" style="color:#D85537;" href="https://www.zapier.com">Zapier</a> are leading the transparency movement, by sharing data in order to help out and inspire fellow startups.</span><br><br><i>TalentShare is a 'No-LinkedIn-Spammer-Recruiter Zone'.</i><br><br>TalentShare is a closed sharing platform where startups help each other out by sharing the list of their top applicants they unfortunately could not hire. Every company is personally verified, every list is double-checked by TalentShare.<br><br> In order to sign up send an email to <span style="color: #D85537;">alexander.sideris.west@gmail.com</span> or send me a private message <span style="color: #D85537;">@alexsideris_</span> on Twitter.</p>

        </div>


  <script type="text/javascript">
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
        //console.log("HI");
        document.getElementById('image').setAttribute("style","width:340px");
        document.getElementById('join_the_movement').setAttribute("style","font-size: 27px; padding-top: 20px; color:white");
        document.getElementById('storytale').setAttribute("style","margin-right: 0%; margin-left: 0%; font-family: 'Over the Rainbow'; font-size: 20px; color:white; font-weight:auto;");
        }


  </script>
