<!DOCTYPE html>
<html>
<head>
  <title>TalentShare | Top applicants pre vetted by the world's best startups</title>
  <link rel="icon" href="https://i.imgur.com/mUX4h8g.png">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Over+the+Rainbow" />
  <!--https://wallpapercave.com/wp/6Lib88D.jpg -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- My Custom View All / View Less Button for the Products page -->
    <style>
      .my_btn:hover, .custom-btn:active, .custom-btn:focus {
        background-color: #2AA3EF !important;
        text: View Less;
      }
      

    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114899406-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114899406-1');
    </script>


</head>
<body style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans !important; background-image: linear-gradient(to bottom, #ffffff 8%, #476987 100%);">
<nav class="navbar navbar-default navbar-static-top " style="background-color: white;">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="" style="margin-top:5px;">
        <a style="font-size: 35px; color:black; text-decoration: none;" href="/"><img src="https://i.imgur.com/pFcOt9E.png" style="height:35px;"</img><p style="color:grey; font-size: 10px; text-decoration: none;">Top applicants pre vetted by the world's best startups.</p></a>
      </li>
      
      
    </ul>
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a style="font-size: 35px; color:black;" href="/#about"><p style=" color:grey; font-size: 13px; padding-right: 30px;">About</p></a>
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <% if !company_signed_in? %>
        <li class="nav-item">
          <a style="font-size: 35px; color:black;" href="/sign_in/"><p style="color:grey; font-size: 13px; text-decoration: none;">Sign In</p></a>
        </li>
      <% else %>
          <a style="font-size: 35px; color:black;" href="/companies/profile/"><p style="color:grey; font-size: 13px; text-decoration: none;">My Profile</p></a>
      <% end %>
      
    </ul>
    
  </ul>
    </div>
  </div>
</nav>



<%= yield %>

<script>
  document.getElementById("sort_by_company").onclick = sortByCompany;
  document.getElementById("sort_by_date").onclick = sortByDate;

  function signInPopup() {
    alert("You need to sign in to gain access to the lists.");
    return false
  }

  function sortByCompany() {
    
    document.getElementById("sort_by_company").style.color="grey";
    document.getElementById("sort_by_date").style.color="#191919";

    document.getElementById("the_list_of_openings").style.display="none";
    document.getElementById("the_list_of_companies").style.display="inline";

    return false
  }

  function sortByDate() {

    document.getElementById("sort_by_date").style.color="grey";
    document.getElementById("sort_by_company").style.color="#191919";

    document.getElementById("the_list_of_companies").style.display="none";
    document.getElementById("the_list_of_openings").style.display="inline";

    return false
  }
</script>

</body>
</html>
