<!DOCTYPE html>
<html>
<head>
  <title>TalentShare | Share your top applicants</title>
  <link rel="icon" href="https://i.imgur.com/mUX4h8g.png">
  <!--https://wallpapercave.com/wp/6Lib88D.jpg -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/css/creative.min.css" rel="stylesheet">

    <!-- My Custom View All / View Less Button for the Products page -->
    <style>
      .my_btn:hover, .custom-btn:active, .custom-btn:focus {
        background-color: #EC4C32 !important;
        text: View Less;
      }
    </style>
</head>
<body style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans !important;">
<nav class="navbar navbar-default navbar-static-top " style="background-color: white;">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="" style="margin-top:5px; margin-bottom: 5px;">
        <a style="font-size: 35px; color:black;" href="/"><img src="https://i.imgur.com/jYslwZP.png" style="height:30px;"</img></a>
      </li>
      
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> About Us</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
